<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 400px">
            <img class="img" src={{character.image}}>
            <div class="card-body">
                <h2>{{character.name}}</h2>
                <p class="card-text">Species: {{character.species}}</p>
                <p class="card-text">Gender: {{character.gender}}</p>
                <p class="card-text">Status: {{character.status}}</p>
                <p class="card-text">Origin: {{character.origin.name}}</p>
                <p class="card-text">Last location: {{character.location.name}}</p>
            </div>
        </div>
    </div>
</div>
